<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/frontend/component/Login/sign-in.css">

</head>
<body>
    
 <div class="login-page">

        <div class="form"> 

            <img src="/frontend/images/picLogin.png" class="form-img" width="250">
            
            <form class=form-login">
            <div class="title-login">FASCO</div>
            <div class="txt-sign">Enter The Confirmation Code</div>
                <input type="text" class="username" placeholder="Confirmation Code">
                <button class="form-sign">Send Confirmation Code</button>
                <br>
              <p class="send-code">Didn’t receive Confirmation Code?<a href="#" style="color: #5B86E5;"> Resend Now</a></p>  

            </form>
        </div>
    </div>
 <script src="/frontend/component/Login/send-code.js"></script>

</body>
</html>
