<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/frontend/component/panel-admin/panel-admin.css">
    <link rel="stylesheet" href="/frontend/repeat.css">
</head>
<body>
    <div class="nav-bar-dashbord">
            <div class="container-tem-sabad">
            <img src="/frontend/images/icon (2).png" alt="" class="sign">
            <img class='them'src="https://icongr.am/entypo/light-up.svg?size=50&color=f4ecec" alt="" class="sign">
        </div>
        <div class="container-name-icon">
            <h1 class="dashboard">dashboard</h1>
            <img  class="icon-sidbar" src="https://icongr.am/feather/align-justify.svg?size=46&color=595454" alt="">
        </div>
    
    </div>
    <!-- add product to panel -->
     <form class="addProductForm">

        <label for="name-product">name product</label>
        <input type="text" id="name-product" placeholder="name product" >

        <label for="price-product" >price product</label>
        <input type="number" id="price-product" placeholder="price product" >

        <label for="description">description</label>
        <textarea id="description"rows="5" ></textarea>

        <label for="category">category</label>
        <select id="category">
            <option value="">select category</option>
            <option value="Socks">Socks </option>
            <option value="Hat">Hat </option>
            <option value="Coat">Coat  </option>
        </select>

        <label for="image-product">image product</label>
        <input type="file" id="image-product" accept="image/*">

        <button type="submit" class="sign"> add product</button>
    </form>










    <script src="/frontend/component/panel-admin/panel-admin.js"></script>
</body>
</html>