<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/frontend/component/panel-admin/panel-admin.css">
    <link rel="stylesheet" href="/frontend/repeat.css">
</head>
<body>
    <div class="nav-bar-dashbord">
            <div class="container-tem-sabad">
            <img src="/frontend/images/icon (2).png" alt="" class="sign">
            <img class='them'src="https://icongr.am/entypo/light-up.svg?size=50&color=f4ecec" alt="" class="sign">
        </div>
        <div class="container-name-icon">
            <h1 class="dashboard">dashboard</h1>
            <img  class="icon-sidbar" src="https://icongr.am/feather/align-justify.svg?size=46&color=595454" alt="">
        </div>
    
    </div>
    <div class="container-body-dashbord">
          <div class="welcom">
        <h1>Welcome to the panel</h1>
        <img src="https://icongr.am/entypo/hand.svg?size=46&color=4c4848">
        <img src="https://icongr.am/entypo/heart.svg?size=46&color=ec1313" alt="">
         </div>
          <ul class="admin">
        <div class="container-li">
           <li>discount</li>
          
        </div>

          <div class="container-li">
           <li>user</li>
           
        </div>

          <div class="container-li">
           <li>payments</li>
        </div>

          <div class="container-li">
           <li>product</li>
        </div>

          <div class="container-li">
           <li >baskets</li>
           
        </div>
       
          </ul>
  
   
    </div>
    <script src="/frontend/component/panel-admin/panel-admin.js"></script>
</body>
</html>