
.container-name-icon,.container-tem-sabad,.welcom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.nav-bar-dashbord {
     display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: var( --color-8A8A8A);
}
.container-body-dashbord{
    display: flex;
    align-items: center;
    justify-content: space-between;

   
}

.admin li{
    list-style-type: none;
    font-size: 25px;
    margin-bottom: 2rem;
    color: var(--color-484848);
}
.admin{
     display: flex;
    justify-content: flex-end;
}
.container-li{
    padding: 1.5rem;
   
}

/* css add product to panel */
.addProductForm{
    margin: auto;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 20px;
    max-width: 500px;
}
.add-category{
    display: flex;
    margin: 0 auto;
    width: 450px;
    padding:10px;
}
.add-cat-panel{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    display: none;
    
}
input,textarea,select{
    margin-bottom: 1rem;
    padding:10px 5px;
}
.add-category,.btn-re-cat{
    background-color: var(--color-8A8A8A);
    padding: 5px;
    color: var( --color-f0f0f0);
    border: none;
}
input ,textarea,select{
    width: 100%;
}