.main-box-product{
border: 1px solid #DBDBDB;
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
padding: 2rem;
}
.main-product-title h1{
    color: var(--color-484848);
    text-align: center;
    font-size: 40px;
    margin-bottom: 2rem;
}

.main-product-des{
    
    color: var(--color-8A8A8A);
    line-height: 25px;
    width: 400px;
    text-align: center;
    justify-self: center;
     margin-bottom: 2rem;
}

.container-btn-product{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-star,.box-product-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.box-star-title,.product-price{
    color: var(--color-484848);
    font-weight: bold;
    font-size: 20px;
}
.box-product-brand{
    color: var(--color-8A8A8A);
    margin-bottom: 1rem;
}
.box-producr-comment{
color: var(--color-484848);
margin-bottom: 1rem;
}

.box-Almost p a {
text-decoration: none;
color: var(--color-FF4646);
}
  .product{
        flex-direction: column;
        gap: 1rem;
    }

/* Responsive */

@media(max-width:800px){
    .container-btn-product{
        display:grid;
        grid-template-columns: repeat(2,300px);
        gap: 1rem;
    }
    .main-box-product{
        margin: 0 auto;
    }
    .main-product-des{
      text-align: center;
        font-size: 20px;
        line-height: 35px;
        max-width: 100%;
    }
}