<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/frontend/repeat.css">
    <link rel="stylesheet" href="/frontend/component/product/product.css">
</head>
<body>
    

<main class="main-product" >
    
        <div class="main-product-title">
            <h1>New Arrivals</h1>
        </div>

        <div class="main-product-des">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                 Scelerisque duis ultrices sollicitudin aliquam sem.
                  Scelerisque duis ultrices sollicitudin 
        </div>
        <!-- Test btn-category -->
        <div class="container-btn-product">

        </div>
     

       <!-- TEST -->
   <div class="container product">

      
                
            <div class="main-left-icon">
                <div class="main-back-icon-right">
                    <img src="/frontend/images/icon-back.png" alt="" class="next">
                </div>
                <div class="main-left-icon-next">
                    <img src="/frontend/images/icon-next.png" alt="" class="pre">
                </div>
          </div>

   </div>

  
   
</main>

<script type="module"  src="./product.js"></script>

</body>
</html>

